langgraph
langchain
pymilvus>=2.3.0
sentence-transformers==2.2.2
langchain-community
langchain-core
langchain-openai
html2text
strsimpy
python-docx
openpyxl
chardet
html-text
readability-lxml
pdfplumber
trio
xgboost
Pillow
huggingface_hub==0.25.0
pypdf
python-pptx
datrie
hanziconv
nltk
opencv-python
onnxruntime
pyclipper
shapely
pyahocorasick
seqeval
py2neo
langchain-chroma
langchain-graphrag
pyarrow
transformers==4.35.2
tavily-python
FlagEmbedding
peft
dashscope
pymysql
sqlalchemy
requests
pydantic
langchain_ollama
faker
langchain_experimental